#tittleMap {
  width: 20%;
  height: 20%;
  margin-top: 50px;
  margin-left: 650px;
}
#map {
  z-index: 100;
  position: absolute;
  top: 300px;
  margin-bottom: 50px;
  right: 160px;
  width: 900px;
}
#greenCorner {
  position: absolute;
  top: 405px;
  width: 40px;
  right: 515px;
}
#bluePlates {
  position: absolute;
  top: 455px;
  width: 43px;
  right: 578px;
  height: 140px;
}
#orangeKitchen1 {
  position: absolute;
  top: 464px;
  left: 434px;
  width: 18%;
  height: 12%;
}
#orangeKitchen2 {
  position: absolute;
  top: 535px;
  left: 434px;
  width: 4.5%;
  height: 32%;
}
#pinkcloset {
  position: absolute;
  top: 464px;
  left: 380px;
  width: 3.8%;
}
#violetC {
  position: absolute;
  top: 632px;
  width: 25.5%;
  height: 9.5%;
  right: 210px;
}
#yellowSf {
  position: absolute;
  top: 840px;
  width: 4.5%;
  right: 235px;
}
.arrow {
  position: absolute;
  width: 100px;
  height: 100px;
}
#arrowA {
  top: 526px;
  right: 150px;
}
#arrowB {
  top: 890px;
  right: 100px;
  transform: rotate(90deg);
}
#arrowC {
  top: 690px;
  left: 275px;
  transform: rotate(180deg);
}
#arrowD {
  top: 355px;
  left: 455px;
  transform: rotate(-90deg);
}
#arrowF {
  top: 340px;
  right: 395px;
}
#arrowE {
  top: 470px;
  right: 515px;
  position: absolute;
  width: 55px;
  height: 55px;
  transform: rotate(90deg);
}
.parrafis {
  font-family: "Jua";
  font-size: 0.9em;
  color: #353535;
  /*margin: 20px 700px 20px 575px;*/
}
#P1 {
  position: relative;
  left: 730px;
  top: 290px;
  margin: 20px 750px 20px 575px;
}
