#tittleMapX {
  width: 20%;
  height: 20%;
  margin-top: 50px;
  margin-left: 650px;
}
#mapX {
  z-index: 100000;
  pointer-events: none;
  position: absolute;
  top: 300px;
  margin-bottom: 50px;
  right: 160px;
  width: 900px;
}

.opacidadPutaX {
  position: absolute;
  z-index: 1300;
  display: block;
  width: 50px;
  height: 30px;
  margin-left: 890px;
  margin-top: 177px;
}

#greenCornerX {
  position: absolute;
  top: -5px;
  width: 40px;
  right: 17px;
  z-index: 500;
}
#arrowFX {
  top: -80px;
  right: -97px;
  z-index: 500;
}
#P3X {
  position: absolute;
  right: -230px;
  left: 80px;
  top: -190px;
}

.opacidadPutaBlueX {
  position: absolute;
  z-index: 1300;
  display: block;
  width: 43px;
  height: 140px;
  margin-left: 820px;
  margin-top: 215px;
}

#bluePlatesX {
  position: absolute;
  top: 4px;
  width: 43px;

  height: 140px;
}
#P2X {
  position: absolute;
  right: -235px;
  top: 58px;
  left: 74px;
}
#arrowEX {
  top: 10px;
  right: -60px;
  position: absolute;
  width: 55px;
  height: 55px;
  transform: rotate(90deg);
}
.opacidadPutaOrange {
  position: absolute;
  z-index: 1300;
  display: block;
  width: 265px;
  height: 293px;
  margin-left: 430px;
  margin-top: 243px;
}

#orangeKitchen1X {
  position: absolute;
  left: 430px;
  width: 265px;
  height: 88px;
  top: 460px;
}
#orangeKitchen2X {
  position: absolute;
  width: 70px;
  height: 295px;
  left: 430px;
  top: 460px;
}
#P4X {
  position: relative;
  left: 170px;
  width: 230px;
}
#arrowDX {
  top: 355px;
  left: 450px;
  transform: rotate(-90deg);
  opacity: 1;
}
.opacidadPutaPinkX {
  position: absolute;
  z-index: 1300;
  display: block;
  width: 54px;
  height: 290px;
  margin-left: 380px;
  margin-top: 245px;
}

#pinkclosetX {
  position: absolute;
  width: 54px;
  height: 290px;
  top: -125px;
}
#P5X {
  position: relative;
  right: 200px;
  top: 180px;
  width: 190px;
  height: 220px;
}
#arrowCX {
  top: 90px;
  left: -105px;
  transform: rotate(180deg);
}
.opacidadPutaVioletX {
  position: absolute;
  z-index: 1300;
  display: block;
  width: 365px;
  height: 70px;
  margin-left: 865px;
  margin-top: 400px;
}

#violetCX {
  position: absolute;
  top: 3px;
  width: 365px;
  height: 63px;
  right: 1px;
}
#arrowAX {
  top: -103px;
  right: -58px;
}
#P6X {
  position: relative;
  left: 435px;
  top: -110px;
  width: 120px;
}
.opacidadPutaYellow {
  position: absolute;
  z-index: 1300;
  display: block;
  width: 65px;
  height: 115px;
  margin-left: 1140px;
  margin-top: 620px;
}

#yellowSfX {
  position: absolute;
  width: 65px;
  height: 115px;
  top: 840px;
  left: 1140px;
}
#P1X {
  position: relative;
  left: 1250px;
  top: 7880px;
  width: 170px;
}
#arrowBX {
  top: 900px;
  right: 100px;
  transform: rotate(90deg);
}
.arrowX {
  position: absolute;
  width: 100px;
  height: 100px;
}
.parrafisX {
  font-family: "Jua";
  font-size: 0.9em;
  color: #353535;
  z-index: 500;
}
#subtitielX {
  font-family: "Jua";
  color: #9e9d95;
  font-size: 1em;
  position: absolute;
  z-index: 100000;
  margin-left: 625px;
  margin-top: 20px;
}
#maptext77 {
  font-family: "Jua";
  font-size: 1.8em;
  margin-left: 25px;
  margin-top: 17px;
  color: #9e9d95;
}
#circabutonsX {
  position: absolute;
  z-index: 10000;
  top: -190px;
}
